.error {
  color: red;
}

.table thead th {
  position: sticky;
  top: -1px;
  background-color: grey;
}

@media (max-width: 992px) {
  #category,
  #image,
  #description,
  #price,
  #categoryHeader,
  #imageHeader,
  #descriptionHeader,
  #priceHeader {
    display: none;
  }
}
